<body style="background-color: red;">
<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1 class="mt-3 ml-5"><a href="" class="title">Blog Application</a></h1>
            </div>
            <div class="col-md-6">
                <a href="/login" class="login btn btn-default title">Login</a>
                <a href="/register" class="login btn btn-default title">Register</a>
                <a href="/app-post" class="login btn btn-default title">App Post</a>

            </div>
        </div>
    </div>
</div>
</body>