.a{
    border: 1px solid grey;
    border-radius: 8px;
    height: 600px;
    width :50%;
    background-color: #e6e6ff;

}
.a:hover{
    box-shadow: 1px 1px 9px darkblue;
    border: none;

}
.size{
    width: 400px;
}
.btncolor{
    background-color: #000066;
    color: white;
}
.title{
    color: #000066;
}

